name: update storage

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: リポジトリをチェックアウト
        uses: actions/checkout@v4

      - name: Node.js をセットアップ
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: update storage
        run: node ./scripts/runNotion2Atlas.js
        env:
          ATLAS_STORAGE_GH_PAT: ${{secrets.ATLAS_STORAGE_GH_PAT}}
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}